<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='css/new_edit.css')}}">
    <title>New Trip</title>
</head>
<body>
    <div class="nav">
        <h2 class="fs-2">Hello {{user.first_name}}! Let's edit your trip!</h2>
        <a class="" href="/logout">Logout</a>
    </div>
    <div class="box">
        <form action="/trips/update" method="post">
            <input type="hidden"  name="id" value="{{trip.id}}">
                {% with messages = get_flashed_messages(category_filter = ['trips'])%}
                    {% if messages %}
                        {% for message in messages %} 
                        <p class="red-text"> {{message}} </p> 
                        {% endfor %}
                    {% endif %}
                {%endwith%}
            <div class="input">
                <label for="destination">Destination:</label>
                <input type="text" name="destination" value="{{trip.destination}}">
            </div>
            <div class="input">
                <label for="start_date">Start Date:</label>
                <input type="date" name="start_date">
            </div>
            <div class="input">
                <label for="end_date">End Date:</label>
                <input type="date" name="end_date">
            </div>
            <div class="input">
                <label for="plan">Plan:</label>
                <input type="text" name="plan" value="{{trip.plan}}">
            </div>
            <div>
                <input type="submit"value="Submit" class="button">
                <button class="button"><a href="/dashboard">Cancel</a></button>
            </div>
        </form>
    </div>
</body>
</html>